<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="https://saucer-section.brightstream.io/min/brightstream-0.0.1-47-g1b2ad49.min.js"></script>
     
    </head>
   <body>
    <h3 id="status">Not Connected</h3>
    <div id="login">
        <input id="endpoint" type="text" value="broker" style="display:none" />
        <input id="doLogin" type="button" value="Connect Broker" />
    </div>
    <div id="messaging">
        <ul id="messages"></ul><br />
    </div>
        <script src="js/broker.js"></script>
</body>
</html>


